{% extends "base.html" %}
{% load i18n humanize static %}
{% load url from future %}

{% block main %}
    <div class="well">
        <div class="row-fluid">
            <div class="span6">
                <h1>
                    {{project.name|capfirst}}
                    {% if user.is_authenticated %}
                    <a href="javascript:(function(){f='http://{{request.get_host}}{% url 'core:toggle' request.user.id project.id %}';a=function(){if(!window.open(f,'Project Counter','location=no,links=no,scrollbars=no,toolbar=no,width=500,height=310'))location.href=f};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" class="bookmark btn btn-mini"><i class="icon-bookmark"></i> {{project.name|capfirst}}</a>
                    {% endif %}
                </h1>
                <p>{{project.description}}<p>
            </div>
            <div class="span6">
            {% if user.is_authenticated %}
                {% if is_started %}
                <a href="{% url 'core:stop' project.id %}" class="pull-right btn btn-danger">{% trans "Stop" %}</a>
                {% else %}
                <a href="{% url 'core:start' project.id %}" class="pull-right btn btn-primary">{% trans "Start" %}</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div id="counters">
    {% include "project.ajax.html" with counters=counters user_total_days=user_total_days total_days=total_days total_hours=total_hours %}
    </div>
{% endblock main %}

{% block script %}
    <script src="{% static "js/libs/jquery.jeditable.mini.js" %}"></script>
    <script>
        jQuery(function($){
            function toSqlDate(date)
            {
                //format : 10/01/2013 à 10:00:23
                var day = date.substring(0, 2);
                var month = date.substring(3, 5);
                var year = date.substring(6, 10);
                var hour = date.substring(13, 15);
                var minute = date.substring(16, 18);
                var second = date.substring(19, 21);
                return year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
            }
            $('.bookmark').on('click', function(){
                return false;
            });
            
            function makeEditable()
            {
                $('.editable').editable(function(value, settings) {
                    var url = $(this).data('url');
                    var id = $(this).data('id');
                    var start_date = toSqlDate($('#counter-'+id+'-start_date').text());
                    var end_date = toSqlDate($('#counter-'+id+'-end_date').text());
                    
                    var data = {
                        csrfmiddlewaretoken: '{{csrf_token}}',
                        start_date: start_date,
                        end_date: end_date
                    }
                    data[$(this).data('field')] = toSqlDate(value);
                    
                    $.post(url, data, function(data, textStatus, jqXHR) {
                        if( textStatus == 'success' )
                        {
                            $('#counters').html(data);
                            makeEditable();
                        }
                        else
                        {
                            alert("{% trans "Une erreur s'est produite. Veuillez vérifier le format de la date (dd/mm/yyyy à hh:mm:ss)" %}");
                        }
                    });
                    return value;
                });
            }
            makeEditable();
        });
    </script>
{% endblock script %}